includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  customRulesetUsed: true
  excludes_analyse:
    - vendor
    - web/core/**/*.*
    - web/modules/contrib/**/*.php
    - web/modules/private/**/*.php
    - web/modules/profiles/**/*.php
    - web/modules/themes/**/*
